target
*.iml
*.ipr
*.iws
.classpath
.idea
.settings
out/
*.DS_Store
repositories
web-app/WEB-INF/config
web-app/logs
lib
derby.log
web-app/logs
web-app/WEB-INF/web.xml
plugin.xml
grails-maglev-*.zip
web-app/WEB-INF/bootstrap
WEB-INF/config/default/keypair.properties
grails-maglev-*.sha1
